@import "../base";
@import "../public";
@import "../setting";
@import "pop";
@import "header";
@import "footer";
@import "../fontImg/font-awesome";

body {
  background-color: #fff;
}

.index {

}

#map {
  width: 100%;
  height: 480px;
  .carIcon {
    position: absolute;
    display: block;
    text-align: center;
    background-image: url(../images/home_electricity_nor.png);
    width: 46px;
    height: 58px;
    line-height: 73px;
    font-size: 12px;
    &:hover {
      background-image: url(../images/home_electricity_down.png);
      color: $green;
      z-index: 1;
    }
    .carPop {
      position: absolute;
      left: 38px;
      top: -147px;
      display: none;
      line-height: normal;
      z-index: 3;
      div {
        float: left;
        margin: 14px 0 0 20px;
      }
      @extend %clear;
      i {
        display: block;
        text-align: center;
        font-size: 36px;
        line-height: 102px;
        color: $green;
      }
      dt {
        font-size: 18px;
        color: #333333;
        margin-bottom: 14px;
      }
      dd {
        font-size: 14px;
        color: #666666;
        margin-bottom: 14px;
      }
      a {
        display: block;
        width: 88px;
        height: 26px;
        line-height: 26px;
        text-align: center;
        border: 1px solid $green;
        font-size: 16px;
        color: $green;
        @extend %radius;
      }
    }
  }
  .stationIcon {
    position: absolute;
    display: block;
    text-align: center;
    background-image: url(../images/home_pile_nor.png);
    width: 46px;
    height: 58px;
    font-size: 12px;
    span {
      display: block;
      line-height: 24px;
      text-indent: 28px;
    }
    &:hover {
      background-image: url(../images/home_pile_down.png);
      color: $green;
      z-index: 1;
    }
    .stationPop {
      width: 270px;
      height: 126px;
      border: 1px solid $borderForGray;
      position: absolute;
      left: 50px;
      top: 110px;
      display: none;
      line-height: normal;
    }
  }

}

.mapPanel {
  position: relative;
  .shadow {
    position: absolute;
    top: -3px;
    width: 100%;
    height: 6px;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.25);;
    z-index: 2;
    background-color: #fff;
  }
}

.searchPanel {
  z-index: 2;
  position: absolute;
  left: 90px;
  top: 40px;
  width: 310px;
  height: 590px;
  background-color: #fff;
  overflow: hidden;
  border: 1px solid $borderForGray;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.stationPanel-w2 {
  width: 620px;
  @extend %clear;
}

.stationList {
  width: 310px;
  float: left;
  .title {
    border-bottom: 1px solid $borderForGray;
    padding-left: 20px;
    strong {
      margin: 16px 0;
      font-size: 20px;
      color: #333333;
      line-height: 30px;
      display: block;
    }
  }
  .list {
      overflow: auto;
      height: 503px;
    .item {
      height: 100px;
      line-height: 2em;
      padding-left: 20px;
      border-bottom: 1px solid $borderForGray;
      position: relative;
      a {
        display: block;
        position: absolute;
        right: 10px;
        top: 35px;
        color: $green;
        font-size: 12px;
      }
      i {
        display: inline-block;
        margin-right: 4px;
      }
    }

    dt {
      font-size: 18px;
    }
    dd {
      font-size: 14px;
    }
  }
}

.stationInfo {
  width: 310px;
  float: left;
  .title {
    height: 88px;
    border-bottom: 1px solid $borderForGray;
    padding-left: 20px;
    position: relative;

    a {
      position: absolute;
      left: 280px;
      top: -11px;
      font-size: 20px;
      color: #333;
    }
    strong {
      margin: 16px 0;
      font-size: 20px;
      color: #333333;
      line-height: 30px;
      display: block;
      font-weight: normal;
      overflow: hidden;
      height: 30px;
      width: 80%;
    }
    address {
      font-style: normal;
      font-size: 14px;
      color: #666666;
      height: 20px;
      line-height: 20px;
      overflow: hidden;
      i {
        display: inline-block;
        margin-right: 4px;
        vertical-align: middle;
      }
    }
  }
  .infoList {
    overflow: auto;
    .item-car, .item-pile {
      height: 124px;
      border-bottom: 1px solid $borderForGray;
      div {
        float: left;
        margin: 5px 0 0 20px;
      }
      @extend %clear;
    }
    i {
      display: block;
      text-align: center;
      font-size: 36px;
      line-height: 102px;
    }
    dt {
      font-size: 18px;
      color: #333333;
      margin-bottom: 14px;
    }
    dd {
      font-size: 14px;
      color: #666666;
      margin-bottom: 14px;
    }
    a {
      display: block;
      width: 88px;
      height: 26px;
      line-height: 26px;
      text-align: center;
      border: 1px solid $green;
      font-size: 16px;
      color: $green;
      @extend %radius;
    }
    a.disable{
      background-color: #ddd;
      border:0;
      color: #fff;
    }
  }
}

.banner {
  text-align: center;
  background-color: #fff;
  .bannerbg {
    position: relative;
    img {
      position: relative;
      z-index: 2;
    }
    .bannerHead {
      position: absolute;
      z-index: 1;
      background-image: url(../images/home_banner_touying.png);
      background-repeat: repeat-x;
      width: 100%;
      height: 12px;
      top: -8px;
    }
    .bannerBody {
      background-color: #a8f0f6;
      height: 298px;
      width: 100%;
      position: absolute;
      z-index: 1;
      bottom: 36px;
    }
    .bannerFoot {
      position: absolute;
      bottom: 0;
      height: 40px;
      width: 100%;
      background-color: #E3E2E2;
      z-index: 1;
    }
  }
  .bannerIcon {
    width: 1104px;
    margin: 0 auto;
    @extend %clear;
    dl {
      float: left;
      width: 224px;
      margin: 100px 13px;
      dt {
        margin-bottom: 30px;
        span {
          display: block;
          margin: 0 auto;
        }
      }

      dd {
        margin-bottom: 16px;
        font-size: 16px;
        color: #999;
        text-align: left;
        span {
          display: block;
          text-align: center;
          font-size: 26px;
          color: #333;
        }

      }
    }
  }

}

.mapSize {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 108px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  text-indent: 10px;
  background-image: url(sprite.png);
}

.mapSizeUp {
  background-position: -838px -221px;
}

.mapSizeDown {
  background-position: -354px -305px;
  &:hover {
    background-position: -794px -155px;
  }
}
