@import "../base";
@import "../public";
@import "../setting";
@import "pop";
@import "header";
@import "footer";
@import "process";
@import "../fontImg/font-awesome";
#sfz1, #sfz2, #jsz {
  display: block;
  margin-left: 140px;
  width: 160px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #444;
  background: url(../images/open_btn_nor.png) no-repeat;

  &.ui-state-focus, &.ui-state-hover {
    background: url(../images/open_btn_down.png) no-repeat;
  }
}

.open_s {
  width: 778px;
  margin: 0 auto;
  background-color: #fff;
  font-size: 14px;
  border: 1px solid $borderForGray;

  button {
    margin-left: 140px;
    display: block;
    width: 160px;
    height: 30px;
    line-height: 30px;
    background-color: $green;
    color: #fff;
    border: 1px solid $borderForGray;
  }
  .title {
    height: 48px;
    line-height: 48px;
    text-indent: 20px;
    font-size: 18px;
    border-bottom: 1px solid $borderForGray;
  }
  .body {
    font-size: 14px;
    .btn {
      display: block;
      width: 344px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background-color: $green;
      color: #fff;
      margin: 0 0 20px 140px;
      @extend %radius;
      &:hover {
        background-color: $hoverGreen2;
      }
    }
    .donot {
      color: $blue;
    }
    label {
      width: 120px;
      display: inline-block;
      text-align: right;
      margin-right: 20px;
      font-size: 14px;
      color: #333;
    }
    input[type=text], select {
      width: 342px;
      height: 38px;
      line-height: 38px;
      text-indent: 15px;
      color: #666;
      border: 1px solid $borderForGray;

    }
    .step1 {
      .code {
        input[type=text] {
          width: 217px;
        }
        a {
          display: inline-block;
          width: 110px;
          margin: 0 0 0 15px;
          height: 34px;
          line-height: 34px;
          font-size: 12px;
          background-color: #1eac36;
          color: #fff;
          text-align: center;
        }
      }
      .next{
        display: block;
        width: 344px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: $green;
        color: #fff;
        margin: 0 0 20px 140px;
      }
    }
    .step{

    }
    ul {
      width: 488px;
      margin: 40px auto;
      line-height: 0;
      li {
        margin-bottom: 20px;
        &:last-child {
          text-align: right;
        }
      }
    }
  }
}



